<!DOCTYPE html>
<html lang="en" ng-app="MonkeyBarsHome">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>MonkeyBars | {{ page.title }}</title>

        <!-- build:css({app,.tmp}) /css/main.css -->
        <!-- Custom CSS -->
        <link rel="stylesheet" href="/_bower_components/bootstrap/dist/css/bootstrap.min.css">
        <link rel="stylesheet" href="/css/main.css">
        <!-- endbuild -->

    </head>
    <body>

      {% include header.html %}

      {{ content }}

      {% include footer.html %}

      <!-- build:js({app,.tmp}) /js/scripts.js -->
      <script src="/_bower_components/jquery/dist/jquery.min.js"></script>
      <script src="/_bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
      <script src="/_bower_components/angular/angular.min.js"></script>
      <script src="/js/main.js"></script>
      <!-- endbuild -->

      <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-37860646-3', 'auto');
        ga('send', 'pageview');

      </script>

    </body>

    <script>
      window.fbAsyncInit = function() {
        FB.init({
          appId      : '1400801176881693',
          xfbml      : true,
          version    : 'v2.2'
        });
      };

      (function(d, s, id){
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) {return;}
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/sdk.js";
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));
    </script>
</html>
