<section id="previous-events" ng-controller="HomeCtrl">
  <div class="container text-center">
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <h2 class="title">
          Previous Events <br/>
          <small class="text-left">
            From open builds to education to consulting, the MB team puts together
            a lean, mean playground experience for organizations and companies.
          </small>
        </h2>
      </div>
    </div>

    <div class="row event-row">
      <div class="col-md-4" ng-repeat="event in events | limitTo:3 | orderBy:event.date">
        <div class="panel panel-default event-panel">
          <div class="panel-body">

            <a href="/events/{(event.link)}.html">
              <h3>
                {(event.name)} <br/>
                <small>
                  {(event.date)}
                </small>
              </h3>
              <img src="{(event.logo)}" class="img-circle">
            </a>

            <blockquote>
              <p class="text-left">
                {(event.quote.description)}
              </p>
              <footer>
                {(event.quote.source)}
              </footer>
            </blockquote>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>