<section id="events" ng-controller="HomeCtrl">
  <h2 class="title text-center">
    Our Events
  </h2>

  <div class="container text-center">
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <h2>
          <small class="text-left">
            From open builds to education to consulting, the MB team puts together
            a lean, mean playground experience for organizations and companies.
          </small>
        </h2>
      </div>
    </div>

    <div class="row event-row">
      <div class="col-md-4"
           ng-repeat="event in events | limitTo:3 | orderBy:event.start_date"
           ng-init="eventInit(event)">
        <div class="panel panel-default event-panel event-highlight-panel"
             ng-class="{'true':'event-active'}[event.active]">
          <div class="panel-body">

            <a href="{(event.link)}" class="image-links">
              <h3 ng-class="{'true':'bold'}[event.active]">
                {(event.name)} <br/>
                <small>
                  {(event.start_date)} - {(event.end_date)}
                </small>
              </h3>
              <img src="{(event.logo)}" class="img-responsive img-circle">
            </a>

            <blockquote>
              <div class="event-brief" ng-show="event.active">
                <p class="text-left">
                  {(event.brief)}
                </p>
              </div>
              <div class="event-quote" ng-hide="event.active">
                <p class="text-left">
                  {(event.quote.description)}
                </p>
                <footer>
                  {(event.quote.source)}
                </footer>
              </div>
            </blockquote>

            <a href="{(event.reg_link)}"
               target="_blank"
               class="btn btn-warning btn-lg btn-block"
               ng-class="{'#':'disabled'}[event.reg_link]"
               ng-show="event.active">
              Register Now!
            </a>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>