<section id="previous-events" ng-controller="HomeCtrl">
  <div class="container text-center">
    <h2 class="title">
      Previous Events <br/>
      <small>
        We've hosted a variety of events, from open to client-focused.
      </small>
    </h2>
    <div class="row event-row">
      <div class="col-md-4" ng-repeat="event in events">
        <div class="panel panel-default event-panel">
          <div class="panel-body">

            <a href="/events/{(event.link)}.html">
              <h3>
                {(event.name)} <br/>
                <small>
                  {(event.date)}
                </small>
              </h3>
              <img src="{(event.logo)}" class="img-circle">
            </a>

            <blockquote>
              <p class="text-left">
                {(event.quote.description)}
              </p>
              <footer>
                {(event.quote.source)}
              </footer>
            </blockquote>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>