<section id="team" ng-controller="AboutCtrl">
  <h2 class="title text-center">
    Meet the MonkeyBars team
  </h2>

  <div class="container">

    <div class="row text-center">
      <div class="col-xs-6 col-md-3" ng-repeat="member in team">
        <a href="/team/{(member.link)}.html" class="image-links">
          <img src="{(member.pic)}" class="img-circle" height="125">
          <h4>
            {(member.name)} <br>
            <small>
              {(member.title)}
            </small>
          </h4>
        </a>
      </div>
    </div>

  </div>
</section>