$monkeybars-blue: #4B6686;
$monkeybars-brown: #573724;
$monkeybars-lightbrown: #D2B9A0;
$general-margin: 32px;


html, body {
  height: 100%;
}

body {
  padding-top: 50px;
  color: darken($monkeybars-blue, 25);
}

h1 {
  margin-bottom: $general-margin;
}


.bold {
  font-weight: 900;
}

.event-panel {
  $blue: lighten($monkeybars-blue, 20);
  border-color: $blue;
  > .panel-heading {
    color: white;
    background-color: $blue;
    border-color: $blue;
  }
}

.event-highlight-panel {
  img {
    margin-top: 12px;
  }
  p {
    margin-top: 12px;
  }
  @media screen and (min-width: 980px) {
    min-height: 535px;
  }
}

.event-active {
  border-width: 5px;
}

.event-brief {
  min-height: 13rem;
}

.image-links {
  img {
    border: 3px solid lightgray;
    margin-left: auto;
    margin-right: auto;
    max-height: 150px;
  }
  text-decoration: none;
  color: darken($monkeybars-blue, 25);
  &:hover {
    color: lighten($monkeybars-blue, 20);
    text-decoration: none;
    img {
      border: 3px solid lighten($monkeybars-blue, 20);
    }
  }
  &:active {
    text-decoration: none;
  }
}

.navbar-inverse {
  background-color: darken($monkeybars-blue, 10);
  border-bottom: 2px solid darken($monkeybars-blue, 25);
}

.page-title {
  margin-top: 30%;
}

.title {
  margin-top: 0;
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: darken($monkeybars-blue, 20);
  color: #f5f5f5;
}

.top {
  color: lighten($monkeybars-blue, 60);
  small {
    color: lighten($monkeybars-blue, 60);
  }
}

#affiliates {
  margin-top: $general-margin;
}

#contact-us {
  margin-top: $general-margin;
}

#event-summary {
  .banner {
    padding-top: $general-margin;
    padding-bottom: $general-margin;
    border-top: 1px solid $monkeybars-blue;
    border-bottom: 1px solid $monkeybars-blue;
  }
  .lead {
    margin-top: 18px;
  }
}

#faq {
  background-size: cover;
  background: url('https://fbcdn-sphotos-e-a.akamaihd.net/hphotos-ak-prn1/t31.0-8/1115916_817944334933491_3945163581858399532_o.jpg') no-repeat fixed center -300px;
  .background {
    min-height: 540px;
    background: rgba(77, 104, 136, 0.9);
  }
}

#highlights {
  background-size: cover;
  background: url('https://scontent-b-ord.xx.fbcdn.net/hphotos-xap1/t31.0-8/1557133_817942824933642_9032438568046609182_o.jpg') no-repeat fixed center -150px;
  .background {
    background: rgba(77, 104, 136, 0.9);
  }
  #mc_embed_signup {
    margin-top: ($general-margin/2);
  }
}

#member-profile {
  h2 {
    margin-bottom: ($general-margin*1.5);
  }
  img {
    margin-top: $general-margin;
  }
}

#mission {
  background-size: cover;
  background: url('https://scontent-b-ord.xx.fbcdn.net/hphotos-xap1/l/t31.0-8/1597256_817942814933643_1745618314140258560_o.jpg') no-repeat fixed center -300px;
  .background {
    min-height: 540px;
    background: rgba(77, 104, 136, 0.9);
  }
}

#team {
  margin-top: $general-margin;
  h4 {
    margin-bottom: $general-margin;
  }
}

#site-footer {
  padding-top: 14px;
  margin-top: 24px;
  background-color: darken($monkeybars-blue, 10);
  color: lightgray;
  min-height: 5%;
  a {
    color: lightgray;
    font-weight: 600;
    &:hover {
      color: white;
    }
  }
}

#resources {
  background-size: cover;
  background: url('https://fbcdn-sphotos-h-a.akamaihd.net/hphotos-ak-prn1/t31.0-8/10644659_817943434933581_7786275292844562474_o.jpg') no-repeat fixed center -300px;
  .background {
    min-height: 540px;
    background: rgba(77, 104, 136, 0.9);
  }
}