$monkeybars-blue: #4B6686;
$monkeybars-brown: #573724;
$monkeybars-lightbrown: #D2B9A0;
$general-margin: 32px;


@mixin responsive-bg-image($directory) {
  width: 100%;
  //  background-size: 100% 100%;
  background-repeat: no-repeat;
  /* Retina */
  @media screen and (min-width: 1024px){
    background-image: url('https://dl.dropboxusercontent.com/u/11622340/MonkeyBars/backgrounds/#{$directory}/retina.png');
  }
  /* Desktop */
  @media screen and (min-width: 980px) and (max-width: 1024px){
    background-image: url('https://dl.dropboxusercontent.com/u/11622340/MonkeyBars/backgrounds/#{$directory}/desktop.png');
  }
  /* Tablet */
  @media screen and (min-width: 760px) and (max-width: 980px){
    background-image: url('https://dl.dropboxusercontent.com/u/11622340/MonkeyBars/backgrounds/#{$directory}/tablet.png');
  }
  /* Mobile HD */
  @media screen and (min-width: 350px) and (max-width: 760px){
    background-image: url('https://dl.dropboxusercontent.com/u/11622340/MonkeyBars/backgrounds/#{$directory}/mobile-hd.png');
  }
  /* Mobile LD */
  @media screen and (max-width: 350px){
    background-image: url('https://dl.dropboxusercontent.com/u/11622340/MonkeyBars/backgrounds/#{$directory}/mobile-ld.png');
  }
}

@mixin image-links {
  a {
    img {
      border: 3px solid lightgray;
    }
    text-decoration: none;
    color: darken($monkeybars-blue, 25);
    &:hover {
      color: lighten($monkeybars-blue, 20);
      img {
        border: 3px solid lighten($monkeybars-blue, 20);
      }
    }
  }
}


body {
  padding-top: 50px;
  color: darken($monkeybars-blue, 25);
}

h1 {
  margin-bottom: $general-margin;
}

section {
  padding-top: $general-margin;
}


.event-panel {
  min-height: 320px;
}

.panel-default {
  $blue: lighten($monkeybars-blue, 20);
  border-color: $blue;
  > .panel-heading {
    color: white;
    background-color: $blue;
    border-color: $blue;
  }
}

.navbar-inverse {
  background-color: darken($monkeybars-blue, 25);
}

.title {
  margin-bottom: ($general-margin*1.5);
}

.top {
  background-color: lighten($monkeybars-blue, 10);
  min-height: 540px;
  color: lighten($monkeybars-blue, 60);
  small {
    color: #ffffff;
  }
  .title {
    margin-top: 168px;
  }
}


#event-summary {
  .banner {
    padding-top: $general-margin;
    padding-bottom: $general-margin;
    border-top: 1px solid $monkeybars-blue;
    border-bottom: 1px solid $monkeybars-blue;
  }
  .lead {
    margin-top: 18px;
  }
}

#highlights {
  @include responsive-bg-image('home');
  #mc_embed_signup {
    margin-top: ($general-margin/2);
  }
}

#member-profile {
  h2 {
    margin-bottom: ($general-margin*1.5);
  }
  img {
    margin-top: $general-margin;
  }
}

#mission {
  @include responsive-bg-image('about');
}

#previous-events {
  @include image-links;
  img {
    margin-top: 12px;
  }
  p {
    margin-top: 12px;
  }
}

#team {
  @include image-links;
  h4 {
    margin-bottom: $general-margin;
  }
}

#site-footer {
  background-color: darken($monkeybars-blue, 25);
  height: 84px;
  color: lighten($monkeybars-blue, 80);
  padding-top: $general-margin;
  padding-bottom: $general-margin;
  margin-top: $general-margin;
}