$monkeybars-blue: #4B6686;
$general-margin: 32px;

body {
  padding-top: 50px;
  color: darken($monkeybars-blue, 25);
}

footer {
  background-color: darken($monkeybars-blue, 25);
  height: 84px;
  color: lighten($monkeybars-blue, 80);
  padding-top: $general-margin;
  padding-bottom: $general-margin;
  margin-top: $general-margin;
}

h1 {
  margin-bottom: $general-margin;
}

section {
  padding-top: $general-margin;
}

.panel {
  min-height: 358px;
}

.navbar-inverse {
  background-color: darken($monkeybars-blue, 25);
}

#highlights {
  background-color: lighten($monkeybars-blue, 10);
  min-height: 540px;
  color: lighten($monkeybars-blue, 80);
  small {
    color: #ffffff;
  }
  #mc_embed_signup {
    margin-top: ($general-margin/2);
  }
}

#previous-events {
  img {
    margin-top: 12px;
  }
  p {
    margin-top: 12px;
  }
}